.bags-section {
    background-image: url('../../images/chestsectionnew1.png');
    background-color: $gray;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: flex;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-image: linear-gradient(180deg, rgba(20, 24, 41, 0) 0%, #141829 30.45%, rgba(20, 24, 41, 0.97) 53.82%, rgba(20, 24, 41, 0) 97.48%);
        height: 25em;
        top: -7.62em;
        left: 0;
        width: 100%;
    }

    &::after {
        content: '';
        background-image: linear-gradient(180deg, rgba(20, 24, 41, 0) 10.49%, rgba(70, 76, 99, 0.2) 20%, #141829 100%);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 18em;
    }

    .contents {
        z-index: 1;
        width: 100%;

        .heading {
            font-size: 1.625em;
            line-height: 0.438em;
            color: #F35629;
            font-weight: 400;
        }

        .title {

            span {
                font-family: $imported-font-family;
                font-size: 4.12em;
                color: $white;
            }
        }

        .bags {
            margin: 8em 0;
        }

        .buy-btn {
            figure {
                img {
                    width: 18.75em;
                    transition: 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .title {
                img {
                    width: 2em;
                    height: 2em;
                }

                .chest-title {
                    margin-left: 0.6em;

                    span {
                        font-size: 2.25em;
                    }
                }
            }

            .price {
                font-size: 1.1em;
                color: #777d94;

                .gamePrice {
                    font-size: 1.5em;
                    font-weight: 600;
                    color: $white;
                }

                .learnMore {
                    span {
                        img {
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }
        }

        .btn {
            font-size: 1.25em;
            background-image: $bg-color;
            color: $white;
            padding: 0.4em 2.7em;
            transition: 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}