.characters-section {
    background-color: $gray;
    text-align: center;
    display: flex;
    height: 58em;
    padding-top: 5em;
    padding-bottom: 7em;

    .contents {
        width: 100%;

        .wrapper {

            .carousel {
                position: relative;
            }

            .owl-stage-outer {
                height: 35em;

                &::before {                   
                    background: linear-gradient(94.71deg, #141829 39.64%, rgba(20, 24, 41, 0) 88.87%);
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                    content: '';
                    position: absolute;
                    right: 0;
                    z-index: 9999;
                    top: 16%;
                    height: 18em;
                    width: 9em;
                }
                &::after {
                    background-image: linear-gradient(94.71deg, #141829 39.64%, rgba(20, 24, 41, 0) 88.87%);
                    content: '';
                    position: absolute;
                    left: 0;
                    z-index: 9999;
                    top: 16%;
                    height: 18em;
                    width: 9em;
                }
            }

            .owl-stage {
                padding: 5em 0 2em 0;
            }

            .owl-nav {
                margin-top: 10px;
                top: 0;
                z-index: 4;

                .owl-prev,
                .owl-next {
                    position: absolute;
                    top: 36%;
                    font-size: 55px;
                    color: $white;
                    margin: 0 1em;
                    transition: 0.2s ease;
                }

                .owl-prev {
                    left: -1em;
                    background-image: url('../../images/leftarrow.svg');
                    width: 90px;
                    height: 90px;
                    background-size: contain;
                    opacity: 0.1;

                    &:hover {
                        background-image: url('../../images/leftarrow.svg') !important;
                        opacity: 1;
                    }
                }

                .owl-next {
                    right: -1em;
                    background-image: url('../../images/rightarrow.svg');
                    width: 90px;
                    height: 90px;
                    background-size: contain;
                    opacity: 0.1;

                    &:hover {
                        background-image: url('../../images/rightarrow.svg') !important;
                        opacity: 1;
                    }
                }

                [class*=owl-]:hover {
                    &:hover {
                        background: none;
                        color: $primary-color;
                    }
                }
            }
        }

        .heading {
            font-size: 1.625em;
            line-height: 0.438em;
            color: #F35629;
            font-weight: 400;
        }

        .title {

            span {
                font-family: $imported-font-family;
                font-size: 4.12em;
                color: $white;
            }
        }

        .item {

            .image {
                background-image: url('../../images/border1.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                padding: 1em;
                position: relative;
                opacity: 0.3;

                img {
                    width: 166px;
                    height: 244px;
                    object-fit: cover;
                }

            }

            .player-info {
                opacity: 0;
                transition: 0.2s ease;
                margin-top: 1em;

                .player-name {
                    span {
                        font-family: $imported-font-family;
                        font-size: 2.25em;
                        color: $white;
                    }
                }

                .type {

                    img {
                        width: 25px;
                        height: 25px;
                    }

                    .type-text {
                        margin-left: 0.6em;

                        span {
                            font-size: 1.125em;
                            line-height: 0.438em;
                            color: $white;
                            font-weight: 700;
                            display: inline-block;
                        }
                    }
                }
            }

            &:hover {
                .player-info {
                    opacity: 1;
                }
            }



        }

        .active.center {
            margin: 0 1.5em;

            .item {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);

                .image {
                    background-image: url('../../images/border.png');

                    opacity: 1;

                    figure>div {
                        position: initial !important;
                        overflow: visible !important;
                    }

                    img {
                        width: 166px;
                        height: 244px;
                        object-fit: contain;
                        transform: scale(1.2);
                        z-index: 5;
                    }

                }

                .player-info {
                    opacity: 1;
                    margin-top: 1em;

                    .player-name {
                        span {
                            font-family: $imported-font-family;
                            font-size: 2.25em;
                            color: $white;
                        }
                    }

                    .type {

                        img {
                            width: 25px;
                            height: 25px;
                        }

                        .type-text {
                            margin-left: 0.6em;

                            span {
                                font-size: 1.125em;
                                line-height: 0.438em;
                                color: $white;
                                font-weight: 700;
                                display: inline-block;
                            }
                        }
                    }
                }

            }
        }

    }


}