.history-section {
    background-image: url('../../images/history.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: flex;
    position: relative;
    padding-bottom: 3em;

    &::before {
        content: '';
        position: absolute;
        background-image: linear-gradient(180deg, rgba(20, 24, 41, 0) 0%, #141829 30.45%, rgba(20, 24, 41, 0.97) 53.82%, rgba(20, 24, 41, 0) 97.48%);
        height: 25em;
        top: -7.62em;
        left: 0;
        width: 100%;
    }

    &::after {
        content: '';
        background-image: linear-gradient(180deg, rgba(20, 24, 41, 0) 10.49%, rgba(20, 24, 41, 0.85) 50%, #141829 67%);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 39.6em;
    }

    .contents {
        width: 45%;
        z-index: 1;
        margin: 0 auto;

        .heading {
            font-size: 1.625em;
            line-height: 0.438em;
            color: #F35629;
            font-weight: 400;
            text-shadow: 0.5px 0.5px #f35629;
        }

        .title {
            span {
                font-family: $imported-font-family;
                font-size: 4.12em;
                color: $white;
            }
        }

        .btn{
            font-size: 1.25em;
            color: #777d94;
            border: 1px solid #777d94;
            font-weight: 600;
            padding: 0.5em 2.5em;
            margin-top: 1.5em;
            transition: 0.2s ease;

            &:hover{
                background-color: #f35629;
                border: 1px solid #f35629;
                color: $white;
            }
        }
    }


}