@import "../abstracts/mixins";

@include max-break-point(extra-small) {
    .character {
        .character-info{
            .slick-slider:nth-child(2) .slick-list::before{
                height: 7em !important;
                width: 3em !important;
            }
            .slick-slider:nth-child(2) .slick-list::after{
                height: 7em !important;
                width: 3em !important;
            }
        }
    }
}

@include max-break-point(tablet) {
    .hero-section {
        .contents {
            width: 100%;

            .wrapper{
                width: 100% !important;
            }

            .logo {
                margin-bottom: 0.3em !important;
            }

            .title {
                span {
                    font-size: 3.12em !important;
                }

                line-height: 3.5em;
            }
        }
    }

    .history-section {

        // height: auto !important;
        .contents {
            .title {
                span {
                    font-size: 3.12em !important;
                }
            }
        }
    }

    .work-section {
        height: auto !important;

        .contents {
            .heading {
                margin-bottom: 0.8em;
            }

            .title {
                span {
                    font-size: 3.12em !important;
                    line-height: 3.5rem !important;
                }
            }

            .grid {
                display: block !important;

                .grid-item {
                    margin-top: 1em;
                }
            }
        }
    }

    .characters-section {
        .contents {

            .wrapper .owl-stage-outer::before{
                content: none !important;
            }

            .wrapper .owl-stage-outer::after{
                content: none !important;
            }
            .heading {
                margin-bottom: 0.8em;
            }

            .title {
                span {
                    font-size: 3.12em !important;
                    line-height: 3.5rem !important;
                }
            }
        }
    }

    .bags-section {
        .contents {
            .heading {
                margin-bottom: 0.8em;
            }

            .title {
                span {
                    font-size: 3.12em !important;
                    line-height: 3.5rem !important;
                }
            }
        }
    }

    .discover-section {
        .contents {
            .heading {
                margin-bottom: 0.8em;
            }

            .title {
                span {
                    font-size: 3.12em !important;
                    line-height: 3.5rem !important;
                }
            }
        }
    }

    .characters-section .contents .active.center {
        margin: 0 !important;
    }

    .characters-section .contents .item .image img {
        object-fit: contain !important;
    }

    .about-hero {
        height: auto !important;
        padding-top: 6em;
        padding-bottom: 6em;

        .contents {
            width: 100% !important;
            margin: 0 !important;

            .title {
                span {
                    font-size: 2em !important;
                }
            }
        }

    }

    .character {
        .wrapper {
            .title {
                span {
                    font-size: 2.5em !important;
                }
            }
        }

        .character-info{
            .slick-slider:nth-child(2) .slick-list::before{
                right: -0.1em !important;
                height: 10em !important;
                width: 3em !important;
            }
            .slick-slider:nth-child(2) .slick-list::after{
                left: -0.1em !important;
                height: 10em !important;
                width: 3em !important;
            }
        }
    }

    .gameplay {
        .gameplay-hero {
            .contents {
                width: 100% !important;
            }
        }

        .wrapper {
            .title {
                span {
                    font-size: 2.5em !important;
                }
            }

            .tasks {
                .row {
                    margin-top: 10em !important;
                }
            }
        }
    }

    .footer {
        .wrapper {
            width: 100%;
        }

        .copyrights{
            font-size: 0.3em !important;
        }
    }

    p {
        font-size: 1.1em !important;
    }

    .description {
        font-size: 1.1em !important;
    }
}

@include max-break-point(wide-screen) {
    .history-section {
        .contents {
            width: 100% !important;
        }
    }
}

@include max-break-point(large-desktop) {
    .footer {
        .wrapper {
            width: 65%;
        }
    }
}

@include min-break-point(tablet) {
    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
        display: block !important;
    }
}