.faq {
    background-color: $gray;
    padding-top: 5em;

    .heading {
        font-family: "evil-empire-Regular", sans-serif;
        font-size: 4.12em;
        letter-spacing: 4px;
        color: #ffffff;
        margin: 1em 0;
    }


}